body {
  background-color: #f6f6f6;
}

.wrapper {
  max-width: 800px;
  margin: 50px;
}

.result {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.result > .error {
  color: darkred;
}

/* Prevent div from collapsing */
.result:empty::before {
  content: '\00a0'; /* nbsp */
}

.result-header {
  margin-top: 10px;
}

.update-header {
  margin-top: 30px;
}